<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>User Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/styles.css" />
    <script src="main.js"></script>
</head>

<body>

    <div class="wrapper">
        <h1>Welcome
            <%= user[0].first_name %>
                <%= user[0].last_name %>
                    ! 👋</h1>
        <p>You're birthday is on <strong>
            <%= user[0].birthday %>
        </strong></p>
        <p>You're birthday is on <strong>
            <%= user[0].birthday %>
        </strong></p>
        <p>You created your account on <strong>
            <%= user[0].createdAt.toDateString() %>
        </strong></p>
    </div>
</body>

</html>